<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LinkedOut</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>


    <style>
        .error {
            color: red; /* Set the text color to red */
            font-weight: bold; /* Make the text bold */
        }
    </style>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-toggler bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/companies/add">Add Company</a>
                <a class="nav-item nav-link text-white" href="/employees/add">Add Employee</a>
                <a class="nav-item nav-link text-white" href="/companies/all">All Companies</a>
                <a class="nav-item nav-link text-white" href="/employees/all">All Employees</a>
            </div>
        </div>
    </nav>
</header>
<div class="row">
    <div class="col-md-2"></div>
    <main class="jumbotron text-center rounded col-md-8 align-self-center">
        <div class="justify-content-center">
            <h1>Add Company</h1>
        </div>
        <form th:action="@{/companies/add}" th:object="${companyDTO}" method="post" class="m-md-auto w-50 text-center">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" class="form-control text-center" id="name"
                       aria-describedby="nameHelp"
                       name="name"/>
                <small class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</small>
            </div>

            <div class="form-group">
                <label for="town">Town</label>
                <input type="text" th:field="*{town}" class="form-control text-center" id="town" aria-describedby="town"
                       name="town"/>
                <small class="error" th:if="${#fields.hasErrors('town')}" th:errors="*{town}">Town error</small>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" th:field="*{description}" class="form-control text-center"
                       id="description" aria-describedby="description" name="description"/>
                <small class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description
                    error</small>
            </div>

            <div class="form-group">
                <label for="budget">Budget</label>
                <input type="number" th:field="*{budget}" class="form-control text-center"
                       id="budget" aria-describedby="budget" name="budget"/>
                <small class="error" th:if="${#fields.hasErrors('budget')}" th:errors="*{budget}">Budget error</small>
            </div>
            <small class="error" th:if="${#fields.hasErrors('budget')}" th:errors="*{budget}">Budget error</small>
            <button type="submit" class="btn btn-secondary">Add Company</button>
        </form>
    </main>
</div>

<footer id="footer">
    <div class="container-fluid bg-transparent rounded">
        <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
    </div>
</footer>
</body>
</html>