<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LinkedOut</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-toggler bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/companies/add">Add Company</a>
                <a class="nav-item nav-link text-white" href="/employees/add">Add Employee</a>
                <a class="nav-item nav-link text-white" href="/companies/all">All Companies</a>
                <a class="nav-item nav-link text-white" href="/employees/all">All Employees</a>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center">
                <div class="justify-content-center">
                    <h1>Company Details</h1>
                </div>
                <div th:if="${company != null}" class="row">
                    <div class="col-md-6 bg-dark"><img src="/pic/company.png" height="350px"></div>
                    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-dark">
                        <h2>Company</h2>
                        <h4>Name: <span th:text="${company.name}">Company Name</span></h4>
                        <h4>Town: <span th:text="${company.town}">Company town</span></h4>
                        <h4>Description: <p th:text="${company.description}">Company description</p></h4>
                        <h4>Budget: <span th:text="${company.budget}">Company budget</span></h4>
                        <form th:action="@{/companies/delete}" method="post">
                            <input type="hidden" name="id" th:value="${company.id}" />
                            <button type="submit" class="btn btn-danger">Delete company</button>
                        </form>
                    </div>
                </div>

                <div  th:if="${error}" class="row">
                    <div class="col-md-6 bg-dark"><img src="/pic/company.png" height="350px"></div>
                    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-dark">
                        <h4 th:text="${error}">Error message here if company is not found.</h4>
                        <div class="align-bottom"><a class="btn btn-danger align-bottom"
                                                     href="/companies/all">Return to list company!!</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer id="footer">
    <div class="container-fluid bg-transparent rounded">
        <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
    </div>
</footer>
</body>
</html>